@import "@fontsource/ibm-plex-mono";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 100% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary-hue: 24;
    --primary-saturation: 10%;
    --primary-lightness: 44%;
    --primary: var(--primary-hue), var(--primary-saturation), var(--primary-lightness);
    --primary-foreground: 210 40% 98%;
    --secondary: 33 22% 57%;
    --secondary-50: 33 22% 96%;
    --secondary-100: 33 22% 90%;
    --secondary-200: 33 22% 80%;
    --secondary-300: 33 22% 70%;
    --secondary-400: 33 22% 62%;
    --secondary-500: var(--secondary);
    --secondary-600: 33 22% 47%;
    --secondary-700: 33 22% 38%;
    --secondary-800: 33 22% 28%;
    --secondary-900: 33 22% 18%;
    --secondary-950: 33 22% 10%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 48 100% 50%;
    --accent-800: 48 100% 40%;
    --accent-900: 48 100% 30%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --tealpop: 174 100% 29%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 228 65% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary-hue: 217;
    --primary-saturation: 100%;
    --primary-lightness: 50%;
    --primary: var(--primary-hue), var(--primary-saturation), var(--primary-lightness);
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 210 40% 70%;
    --secondary-50: 222 47% 11%;
    --secondary-100: 217 28% 15%;
    --secondary-200: 217 19% 27%;
    --secondary-300: 215 28% 45%;
    --secondary-400: 222 22% 57%;
    --secondary-500: var(--secondary);
    --secondary-600: 210 40% 85%;
    --secondary-700: 210 40% 93%;
    --secondary-800: 210 40% 96.1%;
    --secondary-900: 210 40% 98%;
    --secondary-950: 0 0% 100%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 48 100% 63%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 228 65% 50%;

  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-[#23201A];
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif font-bold;
  letter-spacing: 0.01em;
}

.subtitle {
  @apply font-serif italic text-subtitle text-lg;
}

@keyframes twinkle {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}
